# Bỏ models
src/app/models/
Trash/
Documents/
ingest/


# Bỏ FAISS_Vector trong src
src/app/Data/
instance/
*.db
*.db-wal
*.db-shm
logs/
ingest/


# Bỏ file tạm Python
__pycache__/
*.pyc
*.pyo


# Bỏ thư mục venv
venv/
.env

# Bỏ file tạm IDE
.vscode/
.idea/
