# Bỏ models
src/app/models/
Trash/
Documents/
ingest/


# Bỏ FAISS_Vector trong src
# src/app/Data/
instance/
*.db
*.db-wal
*.db-shm
logs/
ingest/


TRASH/
src/app/chat_logs/
# Bỏ FAISS_Vector trong src
src/app/FAISS_Vector/
instance/
# Bỏ Data trong src
src/app/Data/
src/test.py
src/uploads/
# Bỏ file tạm Python
__pycache__/
*.pyc
*.pyo


# Bỏ thư mục venv
venv/
.env

# Bỏ file tạm IDE
.vscode/
.idea/
